homedir/.config/broot/launcher/
homedir/.config/composer/
homedir/.config/configstore/update-notifier-npm.json
homedir/.config/fish/
homedir/.config/htop/
homedir/.config/mc/panels.ini
homedir/.config/procps/
homedir/.config/QtProject/
homedir/.config/transmission/
