[user]
name = Martin Richtarsky
email = s@martinien.de

[core]
preloadindex = true

# git-delta
[core]
pager = delta
excludesFile = /r/env/.gitignore

[interactive]
diffFilter = delta --color-only --file-style=normal --features=interactive --light

[delta]
navigate = true  # use n and N to move between diff sections
syntax-theme = GitHub
file-style='bold normal box'
hunk-header-decoration-style='ul ol'
line-numbers=true

[merge]
conflictstyle = diff3

[diff]
colorMoved = default
# end git-delta

[pager]
grep = delta
blame = delta

[alias]
fixup = !sh -c 'REV=$(git rev-parse $1) && git commit --fixup $@ && git rebase -i --autosquash $REV^' -
squash = !sh -c 'REV=$(git rev-parse $1) && git commit --squash $@ && git rebase -i --autosquash $REV^' -
appall = "!sh -c 'git add -u; git commit --amend'"
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(blue)<%an>%Creset' --abbrev-commit
last = for-each-ref --sort=-committerdate refs/heads --format='%(color:yellow)%(objectname:short) %(color:red)%(refname:short) %(color:reset)%(subject)'
picklast = "!git cherry-pick $(git for-each-ref --count=1 --sort=-committerdate refs/heads --format='%(objectname)')"
fix-perm = "!f(){ git diff -c core.pager=less -p $1 | grep -E '^(diff|old mode|new mode)' | sed -e 's/^old/NEW/;s/^new/old/;s/^NEW/new/' | git apply; }; f"

[rebase]
autostash = true
autosquash = true

[merge]
log = 100
renamelimit=15000

[diff]
algorithm = histogram

[rerere]
enabled = 1


#[http]
#sslVerify = false

[credential]
helper = store

# Dark mode from work
; [color "branch"]
;   current = yellow reverse
;   local = yellow
;   remote = green
; [color "diff"]
;   meta = white bold
;   frag = magenta bold
;   old = red bold
;   new = green bold
; [color "status"]
;   added = green
;   changed = yellow
;   untracked = cyan

[include]
path = ~/.gitconfig.local

[safe]
directory = /repos/linux-shared
directory = /projects/mailboxmy/dev
directory = /opt/repos/linux-shared
	directory = /repos/secrets
	directory = /opt/repos/linux-shared/env/bashmarks
	directory = /opt/repos/linux-shared/env/forgit
	directory = /opt/repos/linux-shared/env/fzf
	directory = /opt/repos/linux-shared/env/fzf-obc
	directory = /opt/repos/linux-shared/env/fzf-tab-completion

[init]
defaultBranch = main
templateDir = /r/configs/git

# Possibility to specify platform specific options. Was used for watchman.
# The macOS one is currently empty, could also have fsmonitor but no large repos really yet
# "gitdir' may not be a symlink. To cover all dirs recursively '/' must be at the end!
[includeIf "gitdir:/Users/"]
path = ~/.gitconfig-macos

[includeIf "gitdir:/data/"]
path = /home/d048964/.gitconfig-linux
